*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100vw;
    height: 100vh;
}
.container{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    padding-left: 80px;
    padding-right: 80px;
}
.header{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 113px;
    padding-top: 43px;
    padding-bottom: 43px;
}

.header-texts{
    padding-left: 45%;
    display: flex;
    gap: 30px;
}
.header-text1{
    color: #83888F;
    font-family: Barlow;
    font-size: 12px;
    text-decoration: none;
    font-weight: 700;
    line-height: 15px;
    letter-spacing: 0.923px;
    text-transform: uppercase;
    cursor: pointer;
}
.header-text1:hover{
    color: #333D4B;
}
.page1{
    display: flex;
    flex-direction: column;
    padding-left: 86px;
    padding-bottom: 87px;
    background-image: url(./IMG/Bitmap.svg);
    border-radius: 10px;
}
.page1-text1{
    padding-top: 120px;
    width: 493px;
    color: #FEFCF7;
    font-family: "Fraunces 9pt";
    font-size: 72px;
    font-weight: 900;
    line-height: 72px; 
    padding-bottom: 32px;
}
.page1-text2{
    max-width: 445px;
    color: #FEFCF7;
    font-family: Barlow;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px; 
    opacity: 0.8;
    padding-bottom: 56px;
}
.button{
    width: 217px;
    height: 56px;
    border-radius: 6px;
    background: #0E8784;
    color: #FEFCF7;
    text-align: center;
    font-family: "Fraunces 9pt";
    font-size: 18px;
    font-weight: 900;
    line-height: 25px;
    border: none;
    cursor: pointer;
}
.button:hover{
    background: #66D2CF;
}
.page2{
    padding-top: 167px;
    padding-left: 85px;
    padding-right: 85px;
    display: flex;
    flex-direction: column;
}
.page2-background{
    z-index: 0;
    position: relative;

}
.page2-boxes{
    z-index: 5;
    position: relative;
    bottom: 80px;
    display: flex;
    flex-direction: row;
    height: 399px;
    gap: 30px;
}
.page2-box{
    display: flex;
    flex-direction: column;
    width: 255px;
    height: 399px;
}
.page2-text1{
    width: 255px;
    padding-top: 71.55px;
    padding-bottom: 24px;
    color: #333D4B;
    text-align: center;
    font-family: "Fraunces 9pt";
    font-size: 24px;
    font-weight: 900;
    line-height: 32px; 
}
.page2-text2{
    width: 255px;
    color: #333D4B;
    text-align: center;
    font-family: Barlow;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px; 
}
.page3{
    padding-top: 188px;
    display: flex;
    flex-direction: column;
}
.page3-background{
    display: flex;
    flex-direction: column;
    height: 577px;
    border-radius: 10px;
    background-color: #2C343E;
    padding-top: 112px;
    align-items: center;
}
.page3-text1{
    width: 329px;
    color: #FEFCF7;
    text-align: center;
    font-family: "Fraunces 9pt";
    font-size: 40px;
    font-weight: 900;
    line-height: 48px; 
    padding-bottom: 32px;
}
.page3-text2{
    width: 540px;
    color: #FEFCF7;
    text-align: center;
    font-family: Barlow;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px; 
    opacity: 0.8;
}
.page3-boxes{
    position: relative;
    bottom: 231px;
    display: flex;
    flex-direction: row;
    height: 382px;
    padding-left: 86px;
    padding-right: 86px;
    gap: 30px;
}
.page3-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 48px;
    padding-right: 48px;
    border-radius: 8px;
    background: #0E8784;
    width: 350px;
    height: 382px;
}
.page3-box-text1{
    padding-top: 56px;
    padding-bottom: 24px;
    color: #FEFCF7;
    text-align: center;
    font-family: "Fraunces 9pt";
    font-size: 24px;
    font-weight: 900;
    line-height: 32px; 
}
.page3-box-text2{
    color: #FEFCF7;
    text-align: center;
    font-family: Barlow;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px; 
}
.page4{
    padding-right: 85px;
    padding-left: 85px;
    display: flex;
    flex-direction: column;
    padding-bottom: 200px;
}
.page4-text1{
    width: 255px;
    color: #83888F;
    font-family: "Fraunces 9pt";
    font-size: 24px;
    font-weight: 900;
    line-height: 32px; 
}
.page4-background{
    padding-top: 80px;
    padding-bottom: 67px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.page4-line{
    padding-bottom: 12px;
}
.page4-boxes{
    width: 1045px;
    display: flex;
    flex-direction: row;
    gap: 95px;
    padding-bottom: 64px;
}
.page4-box{
    display: flex;
    flex-direction: column;
    width: 285px;
    height: 355px;
}
.page4-numb{
    color: #FDD6BA;
    font-family: "Fraunces 9pt";
    font-size: 72px;
    font-weight: 900;
    line-height: 72px; 
}
.page4-box-text1{
    width: 255px;
    padding-top: 38px;
    padding-bottom: 42px;
    color: #333D4B;
    font-family: "Fraunces 9pt";
    font-size: 32px;
    font-weight: 900;
    line-height: 36px; 
}
.page4-box-text2{
    color: #333D4B;
    font-family: Barlow;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    width: 285px;
}
.footer{
    padding-top: 50px;
    padding-bottom: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 85px;
    padding-right: 85px;
    height: 120px;
    background-color:  #2C343E;
}
.footer-image{
    color: #FEFCF7;
    display: flex;
    align-items: flex-start;
    padding-right: 103px;
}
.footer-texts{
    display: flex;
    width: 282px;
    justify-content: space-between;
}
.footer-text1{
    color: #83888F;
    font-family: Barlow;
    font-size: 12px;
    text-decoration: none;
    font-weight: 700;
    line-height: 15px;
    letter-spacing: 0.923px;
    text-transform: uppercase;
    cursor: pointer;
}
.footer-text1:hover{
    color: #FEFCF7;
}
.footer-icon{
    padding-left: 25%;
    display: flex;
    align-items: flex-end;
    cursor: pointer;
}
.logos:hover{
    fill: #FDD6BA;
    transition: fill 0.3s ease;
}